<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirPlane - Form</title>
</head>
<body>
    <h1>AirPlane - Form</h1>
    <div>
        <h3>Company:<input type="text" id="Company"><br></br></h3>
        <h3>departure\Arrival Location: <input type="text"><br></br></h3>
        <h3>Date: <input type="date" id="date"><br></br></h3>
        <h3>Time: <input type="time" id="time"><br></br></h3>
        <h3>Number Flight: <input type="text"><br></br</h3>
        <h3>Terminal: <input type="text"><br></br></h3>
        <input type="submit" value="Submit">
    </div>
</body>
</html>