<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchFlight-form</title>
</head>
<body>
    <h1>Search Flight</h1>
    <div>
        <form method="POST">
            <h3>Select :  <select class="button" name="Departure-Arrival">
                <option value="Departure">Departure</option>
                <option value="Arrivals">Arrivals</option>
            </select></h3>
        <h3>Company:<input type="text" name="Company"><br></h3>
        <h3>State: <input type="text" name="state"><br></h3>
            <h3>City: <input type="text" name="city"><br></h3>
            <h3>Airport: <input type="text" name="airport"><br></h3>
        <h3>Start Date: <input type="date" name="start_date"> End Date: <input type="date" name="end_date"><br></br></h3>
            <h3>Sunday: <input type="text" name="Sunday">
            Monday: <input type="text" name="Monday">
                Tuesday: <input type="text" name="Tuesday"></h3>
            <h3>Wednesday: <input type="text" name="Wednesday">
            Thursday: <input type="text" name="Thursday">
                Friday: <input type="text" name="Friday"></h3>
            <h3>Saturday: <input type="text" name="Saturday"></h3>
        <input type="submit" value="Search" style="height:40px;width:150px" >
        </form>
    </div>

</body>
</html>